@model LanguageList.ViewModels.LanguageMstViewModel

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/Index.css" asp-append-version="true" />
<script src="~/js/Index.js" asp-append-version="true"></script>

<div class="container">
    <h2 class="text-center my-4">言語一覧</h2>

    <div class="row border-bottom mb-5">
        <div class="col-md-3">
            <a asp-action="Create">新規登録</a>
            <!-- 初期表示時しか閉じない -->
            <a href="#" onclick="window.close()">終了</a>
            <script>
                function closeWindow() {
                    window.open('about:_blank', '_self').close()
                }
            </script>
        </div>
        <div class="col-md-6 d-flex justify-content-center mb-4">
            <form asp-controller="LanguageMst" asp-action="Search" method="get">
                言語名：
                <select asp-for="SelectName" asp-items="Model.LanguageNames">
                    <option value="" selected>全て</option>
                </select>
                <button type="submit" class="btn btn-secondary">検索</button>
            </form>
        </div>
    </div>
    @{
        if (Model.ShowIndex)
        {
            <div>
                <table class="table mx-auto" style="width:60%;">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.LanguageMst[0].Id)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.LanguageMst[0].LanguageName)
                            </th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.LanguageMst)
                        {
                            
                            <tr>
                                <td>
                                    <a asp-action="Details" asp-route-id="@item.Id">
                                        @Html.DisplayFor(modelItem => item.Id)
                                    </a>
                                </td>
                                <form asp-action="Edit" asp-route-id="@item.Id" method="post">
                                    <td>
                                        <div class="showDetail">
                                            @Html.DisplayFor(modelItem => item.LanguageName)
                                        </div>
                                        <div class="showForm">
                                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                            <div class="form-group">
                                                <input asp-for="@item.LanguageName" class="form-control" name="languageName" />
                                                <span asp-validation-for="@item.LanguageName" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="showSubmit">
                                            <input type="submit" class="submit" value="更新" />
                                            <a href="#" class="edit">編集</a>
                                        </div>
                                    </td>
                                </form>
                                <form asp-action="Delete" asp-route-id="@item.Id">
                                    <td>
                                    <input type="submit" value="削除" class="delete" id="delete" onclick="return confirm('削除してよろしいですか');" />
                                    </td>
                                </form>
                            </tr>
                            
                        }
                    </tbody>
                </table>
            </div>
        }
    }
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
